body {
    padding-bottom: 120px;
    font-size: 14px;
    color: #354B5E;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    /*background-color: #eee;*/
}

h1 {
    font-size: 2em;
    margin-top: 12px;
    margin-bottom: 24px;
}

h2 {
    margin-top: 48px;
    margin: 0 -10px;
    margin-bottom: 5px;
    background: rgba(220, 221, 216, 0.4);
    font-size: 1em;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.3em;
}

a {
    color: #354B5E;
    text-decoration: none;
}

label {
    font-weight:bold;
    font-weight:500;
}

.bg-primary {
    color: #fff !important;
    background-color: #354B5E !important;
    border-color: #354B5E !important;
}

.page-item.active .page-link {
    z-index: 3 !important;
    color: #fff !important;
    background-color: #354B5E !important;
    border-color: #354B5E !important;
}

.page-link {
    color: #354B5E !important;
}

.btn-primary, .btn-primary.active, .btn-primary:active, .open>.btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #354B5E !important;
    border-color: #354B5E !important;
}

.btn-primary:hover,
.btn-primary.focus, .btn-primary:focus {
    color: #fff !important;
    background-color: #475F77 !important;
    border-color: #475F77 !important;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover {
    color: #fff !important;
    background-color: #354B5E !important;
    border-color: #354B5E !important;
}

.nav-pills .nav-item.open .nav-link, .nav-pills .nav-item.open .nav-link:focus, .nav-pills .nav-item.open .nav-link:hover, .nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
    color: #fff;
    cursor: default;
    background-color: #354B5E;
}

.btn-novo-ticket {
    margin-left:10px;
    margin-right: 10px;
    padding-left:20px;
    padding-right: 20px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.div-login{
    margin-top:20%;
}

#blanket {
    left: 0;
    top: 0;
    background-color: #ffff;
    filter: alpha(opacity = 65);
    height: 100%;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    opacity: 0.65;
    z-index: 9998;
}

/*ATTACHMENTS*/

.attachment-preview {
    display: block;
    height: 250px;
    width: 250px;
    background: #f1f1f1;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

.attachment-preview i.fa.fa-file-o {
    font-size: 110px;
    opacity: 0.4;
    margin-left: 80px;
    margin-top: 65px;
}

.ticket .attachment-preview i.fa.fa-file-o {
    font-size: 48px;
    display: block;
    margin: 0;
    text-align: center;
    padding-top: 48px;
}

.ticket .attachment-preview {
    height: 150px;
    width: 100%;
}

.attachments {
    margin-top: 30px;
}

.attachment-title {
    display: inline-block;
}

.ticket .attachment-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.attachment-description {
    opacity: 0.8;
    font-size: 14px;
}

.ticket .attachment-info {
    height: 180px;
}

.attachment-info {
    height: 80px;
}

.attachment-info form {
    display: inline-block;
}

.attachments a {
    color: inherit;
}

.attachments a:hover {
    text-decoration: none;
}

.attachment-full {
    width: 100%;
    height: 500px;
    background: #f1f1f1;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

.attachment-mini {
    width: 100%;
    height: 200px;
    background: #f1f1f1;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

/*KANBAN*/

.kanban-board {
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
}

.kanban-board > div {
    box-sizing: border-box;
    margin-left: 5px;
}

.kanban-column {
    display: inline-block;
    vertical-align: top;
    display: flex;
    flex-direction: column;
}

.kanban-ticket {
    background: #FFF;
    border: 1px solid #eceeef;
    font-size: 12px;
    padding: 10px 15px;
    margin-bottom: 10px;
    min-height: 130px;
    position: relative;
}

.status-header {
    margin-bottom: 24px;
    font-size: 1em;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.kanban-ticket .title {
    font-weight: bold;
    font-size: 14px;
}

.kanban-ticket .author {
    display: inline-block;
    position: absolute;
    bottom: 10px;
}

.kanban-ticket .date {
    display: inline-block;
    float: right;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.kanban-ticket .id {
    background: rgba(220, 221, 216, 0.4);
    font-size: 1em;
    padding: 5px 15px;
    letter-spacing: 1px;
    margin: -10px -15px;
    margin-bottom: 10px;
    cursor: move;
}

/* STATUS */
.switch-toggle label, .switch-toggle > span {
    line-height: 38px;
    border: 1px solid rgba(0,0,0,.15);
    border-right: 0px;
}

.switch-toggle {
    border-right: 1px solid rgba(0,0,0,.15);
}

.switch-toggle input + label {
    padding: .5rem 1rem;
    line-height: 1.25;
    display: inline-block;
}

.switch-toggle input:checked + label {
    color: #FFF;
}

input[disabled] + label {
    background: rgba(220, 221, 216, 0.4);
    color: #666;
}

input:checked + label[for="-1"] {
    background: #993434;
}

.mce-branding-powered-by {
    display: none;
}

.item-tabs-tickets {
    color:#808080;
    font-size:16px;
    font-weight:bold;
    font-weight:600;
}

.inputs_sla input{
    width: 48%;
    margin-right: 2%;
}
/*Color select projects não visiveis*/

#project option#id_21,#project option#id_22,#project option#id_20{
    background: #FAEBD7;
    color: #000;

}

