/*
DARK    354B5E
MEDIUM    475F77
LIGHT     DCDDD8
RED     D74B4B
*/
body {
    /*padding-bottom: 120px;*/
    font-size: 14px;
    color: #354B5E;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    /*background-color: #eee;*/
}

h1 {
    font-size: 2em;
    margin-top: 12px;
    margin-bottom: 24px;
}

h2 {
    margin-top: 48px;
    margin: 0 -10px;
    margin-bottom: 24px;
    background: rgba(220, 221, 216, 0.4);
    font-size: 1em;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.3em;
}

a {
    color: #354B5E;
    text-decoration: none;
}

.text-right {
    text-align: right;
}

/*TABLE*/

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(53, 75, 94, 0.03);
}

/*BUTTON*/

.btn {
    font-size: 1em;
    border-radius: 2px;
}

.btn-primary, .btn-primary.active, .btn-primary:active, .open>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #354B5E;
    border-color: #354B5E;
}

.btn-primary:hover,
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #475F77;
    border-color: #475F77;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover {
    color: #fff;
    background-color: #354B5E;
    border-color: #354B5E;
}

.nav-pills .nav-item.open .nav-link, .nav-pills .nav-item.open .nav-link:focus, .nav-pills .nav-item.open .nav-link:hover, .nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
    color: #fff;
    cursor: default;
    background-color: #354B5E;
}

/*HEADER*/

.nav-pills .nav-link {
    border-radius: 2px;
}

nav .nav-logo-item {
    margin-right: 24px;
}

nav.header {
    margin: 60px;
}

.dropdown-menu {
    border-radius: 2px;
}

/*FORMS*/

.form-control {
    padding: .5rem .75rem;
    border-radius: 2px;
    font-size: 1em;
}

#mceu_11.mce-panel {
    border: 0 solid rgba(0,0,0,.15);
    background-color: rgba(220, 221, 216, 0.4);
    border-radius: 2px;
}

.mce-body {
    font-stretch: 36px;
}

/*TICKET*/

h2.ticket-id {
    margin-top: 12px;
}

.switch-toggle label, .switch-toggle > span {
    line-height: 38px;
    border: 1px solid rgba(0,0,0,.15);
    border-right: 0px;
}

.switch-toggle {
    border-right: 1px solid rgba(0,0,0,.15);
}

.switch-toggle input + label {
    padding: .5rem 1rem;    
    line-height: 1.25;
    display: inline-block;
}

.switch-toggle input:checked + label {
    color: #FFF;
}

input[disabled] + label {
    background: rgba(220, 221, 216, 0.4);
    color: #666;
}

input:checked + label[for="-1"] {
    background: #993434;
}

.mce-branding-powered-by {
    display: none;
}

/*SELECT2*/

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid rgba(0,0,0,.15);
    outline: 0;
}

select[multiple=multiple] {
    height: 37px;
}

.select2-dropdown {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
}

/*DATEPICKER*/

.datepicker td.active, .datepicker td.active:hover {
    color: #ffffff;
    background-color: #354B5E;
    background-image: none;
    filter: unset;
    border-color: #354B5E;
    filter: unset;
    color: #fff;
}

.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
    color: #ffffff;
    background-color: #354B5E;
}

.datepicker td, .datepicker th {
    border-radius: 2px;
}

/*ATTACHMENTS*/

.attachment-preview {
    display: block;
    height: 250px;
    width: 250px;
    background: #f1f1f1;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

.attachment-preview i.fa.fa-file-o {
    font-size: 110px;
    opacity: 0.4;
    margin-left: 80px;
    margin-top: 65px;
}

.ticket .attachment-preview i.fa.fa-file-o {
    font-size: 48px;
    display: block;
    margin: 0;
    text-align: center;
    padding-top: 48px;
}

.ticket .attachment-preview {
    height: 150px;
    width: 100%;
}

.attachments {
    margin-top: 30px;
}

.attachment-title {
    display: inline-block;
}

.ticket .attachment-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.attachment-description {
    opacity: 0.8;
    font-size: 14px;
}

.ticket .attachment-info {
    height: 180px;
}

.attachment-info {
    height: 80px;
}

.attachment-info form {
    display: inline-block;
}

.attachments a {
    color: inherit;
}

.attachments a:hover {
    text-decoration: none;
}

.attachment-full {
    width: 100%;
    height: 500px;
    background: #f1f1f1;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

.attachment-mini {
    width: 100%;
    height: 50px;
    background: #f1f1f1;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;    
}

/*KANBAN*/

.kanban-board {
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
}

.kanban-board > div {
    box-sizing: border-box;
    margin-left: 5px;
}

.kanban-column {
    display: inline-block;
    vertical-align: top;
    display: flex;
    flex-direction: column;
}

.kanban-ticket {
    background: #FFF;
    border: 1px solid #eceeef;
    font-size: 12px;
    padding: 10px 15px;
    margin-bottom: 10px;
    min-height: 130px;
    position: relative;
}

.status-header {
    margin-bottom: 24px;
    font-size: 1em;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.kanban-ticket .title {    
    font-weight: bold;
    font-size: 14px;
}

.kanban-ticket .author {
    display: inline-block;
    position: absolute;
    bottom: 10px;
}

.kanban-ticket .date {
    display: inline-block;
    float: right;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.kanban-ticket .id {
    background: rgba(220, 221, 216, 0.4);
    font-size: 1em;
    padding: 5px 15px;
    letter-spacing: 1px;
    margin: -10px -15px;
    margin-bottom: 10px;
    cursor: move;
}

/*RESPONSIVE*/

/*@media (min-width: 1200px)
{
    .container {
    width: 800px;
    max-width: 100%;
    }
}*/

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.list_users_all {
    padding: 20px;
    border: solid 2px;
    border-color: #DCDCDC;
    border-radius: 10px 10px 10px 10px;
}

.ul_horas_atv {
    /*list-style:none;*/
}